# 
version: '3.1'

services:
  db:
    image: postgres:12.2
    restart: always
    environment:
      POSTGRES_PASSWORD: mysecretpassword
    ports:
      - 15432:5432
    volumes:
      - $PWD/postgres_data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080